<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
  <link rel="stylesheet" href="./table.css">
</head>

<body>

  <div ng-app="myApp"
       ng-controller="myCtrl">
    <ng-table options='options'
              page-scope='pageScope'></ng-table>
  </div>
</body>

<script>
  var app = angular.module("myApp", []);

  app.controller('myCtrl', function ($scope) {
    var sc = $scope
    console.log(' $scope 的值是：', $scope);
    sc.pageScope = $scope//将此变量 pageScope 传入组件
    sc.options = [
      {
        label: '性别',
        prop: 'sex',
        //这里组件做了特殊处理，所访问的方法（test）、变量（map）都是指向页面
        // template: '<h1 style="color:red" ng-click="test(item.sex)">{{map[item.sex]}}</h1>'
      },
      {
        label: '年龄',
        prop: 'age',
      },
      {
        label: '地址',
        prop: 'address',
      },
      {
        label: '地址',
        prop: 'address',
      },
      {
        label: '地址',
        prop: 'address',
      },
      {
        label: '地址',
        prop: 'address',
      },
    ]

    sc.map = {
      1: '男',
      2: '女',
    }

    sc.tableData = [//由于组件内编译模板字符串时使用的是 tableData 变量名，所以页面上也必须这样写
      { name: '张三', age: 18, address: '湖北', sex: '1' },
      { name: '李四', age: 18, address: '湖南', sex: '2' },
    ]

    sc.test=function (c) {
      alert(c)
    }



  });

  app.directive("ngTable", function ($compile, $timeout) {
    return {
      restrict: 'E',
      template: '<div class="ng_table"></div>',
      transclude: true,
      scope: {
        options: '=',
        pageScope: '='
      },

      link: function (scope, element, attrs, ctrl) { },

      controller: function ($scope, $element, $attrs, $parse, $compile) {
        var sc = $scope;

        sc.getTheadHtml = function () {//获取表头的标题的 html 字符串
          return sc.options.reduce(function (pre, cur) {
            return pre + '<th>' + cur.label + '</th>'
          }, '')
        }

        sc.getTbodyHtml = function () {//获取tbody的标题的 html 字符串
          return sc.options.reduce(function (pre, cur) {
            return cur.template ? pre + '<td>' + cur.template + '</td>' : pre + '<td>{{item.' + cur.prop + '}}</td>'
          }, '')
        }

        sc.getTemplate = function () {
          var thead = sc.getTheadHtml()
          var tbody = sc.getTbodyHtml()
          var empty = '<tr ng-show="tableData.length==0"></tr>'
          var h = '<div class="ng_table"><table cellspacing="0" cellpadding="0" border="0"><thead><tr>' + thead + '<tr></thead>'
          var b = '<tbody>' + empty + ' <tr ng-repeat="item in tableData" ng-show=" .length!=0">' + tbody + '</tr> </tbody> </table> </div>'
          var template = h + b;
          return template
        }

        sc.renderTable = function (template) {
          console.log('template 的值是：', template);
          console.log('sc.pageScope 的值是：', sc.pageScope);
          $element.append($compile(template)(sc.pageScope))
        }

        sc.renderTable(sc.getTemplate())

      }
    };
  });



</script>

</html>